.container{
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
        "h h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header{
  background-color:red;
  grid-area: h;
}

.menu{
  background-color:yellow;
  grid-area: m;
}

.content{
  grid-area: c;
}

.footer{
  background-color:grey;
  grid-area: f;
}

th, td {
    padding: 10px;
    text-align: left;
}

.LEDstats{

}

.tempclass{
  max-width: 80%;
  background-color:#eae7e3;
  border-radius:.25rem;
  padding-top:.5rem;
}

/* CSS for input sliders */

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.sliderInput {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.sliderInput:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .sliderInput {
 background-color: #2196F3;
}

input:focus + .sliderInput {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderInput:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.sliderInput.round {
 border-radius: 34px;
}

.sliderInput.round:before {
 border-radius: 50%;
}
